.navbar {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
}

.navbar ul li a:hover {
    border-bottom: 1px solid white;
}

@media screen and (max-width: 768px) {
    .navbar ul {
        gap: 14px;
    }

    .navbar ul li a {
        font-size: 0.8rem;
    }

    .navbar ul li a:hover {
        border-bottom: none;
    }

    .navbar ul li a.active {
        border-bottom: 1px solid white;
    }
}