.review-section {
    display: flex;
    background-color: #fdeeee;
}

.review-content {
    justify-content: center;
    backdrop-filter: brightness(0.9);
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.review-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    color: #000000;
}

.review-header h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

.review-header p {
    max-width: 50%;
}

.review-body {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-left: 2rem;
    max-width: 20%;
}

.review-button {
    color: #000000;
    font-size: 1.3rem;
    gap: 1rem;
}

.review-button:hover {
    cursor: pointer;
    color: #868585;
}

#review-man {
    width: 50%;
    height: 60%;
}

#woman {
    width: 60%;
    height: 80%;
}

@media (max-width: 768px) {
    .review-section {
        padding: 20px;
        flex-direction: column;
    }

    .review-content {
        backdrop-filter: unset;
    }

    #woman {
        display: none;
    }

    .review-body {
        padding: 0;
        max-width: 100%;
    }

    .review-header p {
        max-width: 100%;
    }

    .review-header {
        font-size: 1rem;
        padding: 0 10px;
    }

    .review-button {
        text-align: center;
        font-size: 1.5rem;
    }

    .review-text h2 {
        flex-direction: column;
    }
}